@model SisEventos.Models.Estacionamento;
@{
    ViewData["Title"] = "Delete";
}
<h2>Apagar estacionamento</h2>
<p>Tem certeza que quer apagar o estacionamento <strong>@Model.Nome</strong> ?</p>

<form asp-controller="Estacionamentos" asp-action="Delete" method="post">
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <a asp-area="Admin"
               asp-controller="Estacionamentos"
               asp-action="Index"
               class="btn btn-default">Cancelar</a>
            <button type="submit"
                    class="btn btn-danger">
                Apagar
            </button>
        </div>
    </div>
</form>
