@model SisEventos.Models.Vaga;
@{
    ViewData["Title"] = "Delete";
}

<h2>Apagar vagas</h2>

<p>Tem certeza que quer apagar o controle de vagas @Model.Nome ?</p>

<form asp-controller="Vagas" asp-action="Delete" method="post">
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <a asp-area="Admin"
               asp-controller="Vagas"
               asp-action="Index"
               class="btn btn-default">Cancelar</a>
            <button type="submit"
                    class="btn btn-danger">
                Apagar
            </button>
        </div>
    </div>
</form>

