@model List<SisEventos.Models.Estacionamento>
@{
    ViewData["Title"] = "Index";
}
<h1>Estacionamentos</h1>
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <td><strong>Id</strong></td>
            <td><strong>Nome</strong></td>
        </tr>
    </thead>
    <tbody>
        @foreach (Estacionamento estacionamento in Model)
        {
            <tr class="info">
                <td>@estacionamento.Id</td>
                <td>@estacionamento.Nome</td>
                <td>@estacionamento.Descricao</td>
            </tr>

        }
    </tbody>
</table>
