@model List<SisEventos.Models.Estacionamento>
@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/tables.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<h1>Estacionamentos</h1>
<br />
<br />
<table class="greyGridTable">
    <thead>
        <tr>
            <td><strong>Id</strong></td>
            <td><strong>Nome</strong></td>
            <td><strong>Endereço</strong></td>
        </tr>
    </thead>
    <tbody>
        @foreach (Estacionamento estacionamento in Model)
        {
            <tr class="info">
                <td>@estacionamento.Id</td>
                <td>@estacionamento.Nome</td>
                <td>@estacionamento.Descricao</td>
            </tr>

        }
    </tbody>
    <tbody>
    </tbody>
</table>
